<header class="navbar shadow-sm">
    <div class="container d-flex">
        <a href="https://www.epssura.com" class="navbar-brand d-flex">
            <img class="img-fluid" src="../../../assets/img/icconsura.png" width="110">
        </a>
        <div class="d-grid gap-4 col-4 ">
            <button type="button" class="btn colorprincipal btn-lg rounded-pill"
                data-bs-toggle="button">INICIO</button>
        </div>
    </div>
</header>
<div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="container">
        <p class="h4 text-white">
            EPS
        </p>
    </div>
</div>
<div class="margin-top " >
    <img class="w-100" style="position: relative;" src="../../../assets/img/banner-2.jpg">
    <div class="card-title text-white text-center">
        <div class="row">
            <div class="col">
                <p class="font-weight-bold h1 col-md-8 order-md-1 col-lg-12 text-md-center"><strong>Asociación de usuarios</strong> </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="h5 col-md-8 order-md-1 col-lg-12 text-md-center data ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra sit amet erat fringilla varius. Nullam laoreetorci quis purus tempor, in pretium sem pharetra.s </p> 
            </div>
            
        </div>
        <hr />
        
    </div>
</div>