<header class="navbar shadow-sm">
    <div class="container d-flex">
        <a href="https://www.epssura.com" class="navbar-brand d-flex">
            <img class="img-fluid" src="../../../assets/img/icconsura.png" width="110">
        </a>
        <div class="d-grid gap-4 col-4 ">
            <button type="button" class="btn colorprincipal btn-lg rounded-pill px-5"
                data-bs-toggle="button">INICIO</button>
        </div>
    </div>
</header>
<div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="container">
        <p class="h4 text-white">
            EPS
        </p>
    </div>
</div>
<div class="margin-top" >
    <img class="w-100" style="position: relative;" src="../../../assets/img/banner-2.jpg">
    <div class="card-title text-white text-center">
        <hr />
        <p class="font-weight-bold display-3" ><strong>Asociación de usuarios</strong>  </p>
        <p class="h5 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra sit amet erat fringilla varius. Nullam laoreet
        orci quis purus tempor, in pretium sem pharetra.s </p>
    </div>
</div>