@import '../../../assets/estilos/variables.scss';

.colorprincipal{
    background-color: $color-principal;
    color: white;
}

.card-title {
 position: absolute;
 top: 42%;
 left: 50%;
 transform: translate(-50%, -50%);
//  p{
//      font-size: 4.7rem;
//  }
}
.margin-top{
    padding-bottom: 8rem;
}

* {
  font-family: 'Open', sans-serif !important;
}


@media only screen and (max-width: 768px) {
  .data{
      display: none;
  }
  .boton-noticias{
    width: 100%;

  }
  .boton{
    width: 100% ;

  }
  .card-body {
    padding: 0.5em 1.2em;
  }
  .card-body .card-text {
    margin: 0;
  }
  .card img {
    width: 50%;
  }

  .card-title {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
     p{
         font-size: 1rem;
     }
}
}
@media only screen and (max-width: 1200px) {
  .card img {
    width: 40%;
  }
}