<footer class="text-muted  " style="background-color: #EEEEEE;">
    <div class="navbar shadow-sm d-flex justify-content-center" style="background-color: #AAAAAA;">
        <div class="">
            <nav class="m-4 my-md-0 me-md-3 center-block">
                <a class="p-4 text-white  border-white " href="#">CE008 DE 2020</a>
                <a class="p-4 text-white  border-white" href="#">Corporativo</a>
                <a class="p-4 text-white  border-white" href="#">Nuestras oficinas</a>
                <a class="p-4 text-white  border-white" href="#">Contáctenos</a>
                <a class="p-4 text-white  border-white" href="#">Estados financieros</a>
                <a class="p-4 text-white  border-white" href="#">Trabaje con nosotro</a>
                <a class="p-4 text-white  border-white" href="#">Consulta de oportunidad</a>
                <a class="p-4 text-white " href="#">Indicadores de salud</a>
            </nav>
        </div>

    </div>
    <div class="container py-5">
        <h3>
            <p class="mb-4">EPS SURAMERICANA S.A.</p>
        </h3>
        <p class="mb-0">Para ubicar nuestras oficinas <a href="/" class="colorprincipal p-2" >HAZ CLIC AQUÍ</a></p>
        <p class="mt-3 font-weight-bold">Líneas de Atención: Medellín 448 6115, Bogotá 489 7941 <br> Línea Nacional
            018000 519 519</p>
        <p class="mt-0 font-weight-bold"></p>
        <p class="mt-3 mb-5 font-weight-bold">Medellín, Antioquia, Colombia.<br> Se recomienda utilizar Chrome o Mozilla
            Firefox en una resolucion de 1024 x 768 o superior.</p>
        <div class="row justify-content-end colorinterno">
            <p class="mb-0 align-self-end geo">Geo Sura </p>
        </div>
        <hr>
        <div class="row justify-content-between">
            <p class="mb-0 colorinterno"><a href="/" class="colorinterno h5">epssura.com</a> &nbsp; &nbsp; &nbsp; App displonibles es: </p>
            <p class="mb-0 align-self-end">© 2021 EPS SURAMERICANA S.A. </p>
        </div>


    </div>
</footer>